streamlit
streamlit-authenticator
streamlit-google-auth
python-dotenv
langchain
langchain-community
langchain-openai
google-generativeai>=0.7.2
langchain-google-genai>=1.0.7
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
beautifulsoup4
pyyaml
requests
openai
Pillow
